*.o

/FlagsForMake
/FlagsForSh
bin/Int
bin/calc
bin/event2lhe
bin/event_mixer
bin/events2tab
bin/lhapdf2pdt
bin/lhe2tab
bin/make_VandP
bin/plot_view
bin/s_calchep
bin/show_distr
bin/sum_distr
include/rootDir.h
lib/
sbin/make-j
sbin/makeVrtLib
work/bin
